body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-container {
    position: relative;
    /* ボタンを絶対位置で配置するために基準を設定 */
    display: flex;
    /* グラフを横並びにする */
    justify-content: space-between;
    /* グラフの間隔を均等に配置 */
    align-items: center;
    /* 縦方向で中央揃え */
    margin-top: 10px;
    margin-left: 90px;
    width: 1400px;
    height: 500px;
}

.chart-container canvas {
    margin-right: 10px;
    /* 各グラフ間に若干の余白を追加 */
}

#clearChartDataBtn {
    position: absolute;
    /* ボタンをコンテナ内で絶対的に配置 */
    bottom: 10px;
    /* コンテナの底部に配置 */
    right: 20px;
    /* コンテナの右端に配置 */
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#clearChartDataBtn:hover {
    background-color: #0056b3;
    /* ホバー時の色変更 */
}

#clearChartDataBtn:disabled {
    background-color: #a0a0a0;
    /* 無効化時の背景色 */
    color: #c0c0c0;
    /* 無効化時の文字色 */
    cursor: not-allowed;
    /* 無効化時のカーソルを「禁止マーク」に変更 */
    opacity: 0.6;
    /* ボタンの透明度を調整 */
}

canvas {
    border: 1px solid lightgray;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 15px;
}

.data-display {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.label {
    margin-right: 5px;
    font-weight: bold;
}

.value {
    font-weight: bold;
    color: #333;
}

#startBtn {
    margin-right: 20px;
    /* 右側に余白を追加 */
}

#stopBtn {
    margin-left: 0;
    /* 必要に応じて左側に余白を設定／デフォルト保持 */
}

#importCsvButton {
    /*display: block;*/
    display: none;  /* 要素とそのスペースを完全に非表示にする */
}

#displayDataButton {
    display: inline;
    /*display: none;*/  /* 要素とそのスペースを完全に非表示にする */
    margin-right: 20px;
}

#exportCsvButton {
    display: inline;
    /*display: none;*/  /* 要素とそのスペースを完全に非表示にする */
    margin-right: 20px;
}

.styled-table {
    margin: 20px;
    /*border-spacing: 15px 5px;*/   /* セル間の間隔 */
    border-spacing: 0px;   /* セル間の間隔 */
    /*border-collapse: separate;*/  /* セル間の間隔を適用 */
    border-collapse: collapse;  /* セル間の間隔を適用 */}

.styled-table th {
    padding: 10px 0px 15px 15px;   /* セル内の余白 */
    text-align: center;    /* 水平方向に中央揃え */
    vertical-align: middle;    /* 垂直方向に中央揃え */
    border-bottom: 2px solid #ddd;  /* ヘッダー下に横線を表示 */
}

.styled-table td {
    padding: 10px 0px 15px 15px;  /* セル内の余白 */
    text-align: center; /* 水平方向に中央揃え */
    vertical-align: middle; /* 垂直方向に中央揃え */
}
