body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 1200px;
    height: 500px;
}

canvas {
    border: 1px solid gray; /* サイズ確認のために枠線をつける */
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 15px;
}

.data-display {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.label {
    margin-right: 5px;
    font-weight: bold;
}

.value {
    font-weight: bold;
    color: #333;
}
