body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 90px;
    width: 1400px;
    height: 500px;
}

canvas {
    border: 1px solid lightgray;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 15px;
}

.data-display {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.label {
    margin-right: 5px;
    font-weight: bold;
}

.value {
    font-weight: bold;
    color: #333;
}

#startBtn {
    margin-right: 20px;
    /* 右側に余白を追加 */
}

#stopBtn {
    margin-left: 0;
    /* 必要に応じて左側に余白を設定／デフォルト保持 */
}

#importCsvButton {
    /*display: block;*/
    display: none;  /* 要素とそのスペースを完全に非表示にする */
}

#fetchDataButton {
    display: inline;
    /*display: none;*/  /* 要素とそのスペースを完全に非表示にする */
    margin-right: 20px;
}

#exportDataButton {
    display: inline;
    /*display: none;*/  /* 要素とそのスペースを完全に非表示にする */
    margin-right: 20px;
}

.styled-table {
    margin: 20px;
    /*border-spacing: 15px 5px;*/   /* セル間の間隔 */
    border-spacing: 0px;   /* セル間の間隔 */
    /*border-collapse: separate;*/  /* セル間の間隔を適用 */
    border-collapse: collapse;  /* セル間の間隔を適用 */}

.styled-table th {
    padding: 10px 0px 15px 15px;   /* セル内の余白 */
    text-align: center;    /* 水平方向に中央揃え */
    vertical-align: middle;    /* 垂直方向に中央揃え */
    border-bottom: 2px solid #ddd;  /* ヘッダー下に横線を表示 */
}

.styled-table td {
    padding: 10px 0px 15px 15px;  /* セル内の余白 */
    text-align: center; /* 水平方向に中央揃え */
    vertical-align: middle; /* 垂直方向に中央揃え */
}
